body {
  color: #313033;
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 25%);
  grid-gap: 10px;
  max-width: 1024px;
  margin: 0 10%;
}

img {
  max-width: 100%;
}

h1,
h2 {
  display: flex;
  justify-content: flex-end;
}

article {
	grid-column: 1 / span 4;
	justify-content: flex-end;
}

.logo {
  grid-column: 1 / 2;
  display: flex;
  width: 70%;
  align-items: center;
}

header {
  grid-column: 2 / 5;
}

.hr {
  grid-column: 1 / -1;
}

.pictureView {
  border-radius: 10px;
}

.gallery {
  grid-column: 1 / -1;
}


@media only screen and (max-width: 499px) {
  h1,
  h2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1em;
  }
  
  .logo {
	  width:80%;
	  align-items: center;
  }
 }
 
@media only screen and (min-width: 500) and (max-width: 799px) {
	article, 
	h4 {
	grid-column: 1 / span 4;
	justify-content: flex-end;
	font-size: 1.5em;
	}
	
	.myWorks {
	font-size: 1.5em;
	}
}
